*.exe
cube.txt
cube.txt.bak
cube_default.txt
solution.txt
cube.txt
cube_1.txt
cube_2.txt
solution_1.txt
cube_3.txt
solution.txt
solution.txt
solution_bak.txt
solution_optimized.txt
solution.txt
solution.txt
solution.txt
screendump.txt
solution.txt
solution.txt
solution.txt
solution.txt